body {
    padding-top: 5rem;
  }
  
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }


  .sortable-item { 
    cursor: pointer; 
  }
// @import '../node_modules/bootstrap/scss/bootstrap.scss';

@import 'styles-icons.scss';
@import 'styles-material.scss';
@import 'styles-table-material.scss';
// @import 'styles-bootstrap.scss';

// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';