body {
    padding-top: 5rem;
  }
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }


  .sortable-item { 
    cursor: pointer; 
  }
  