<div class="row justify-content-center d-flex ">
  <div class="col-md-8">
    <div class="h3">QTree Ownership</div>
  </div>

  <div class="col-md-1">
    <div class="pull-right">
      <button type="button" class="btn btn-link" (click)="showPropertyModal()">
        <i class="fa fa-cog fa-2x" title="Column Settings"></i>
      </button>
    </div>
  </div>
</div>


<div class="row d-flex justify-content-center">
  <div class="col-md-9" *ngIf="rows.length > 0 && columns.length > 0">
    <ngx-datatable class="material card" [rows]="rows" [columns]="columns" [columnMode]="'flex'" [rowHeight]="auto" [externalPaging]="false"
      [count]="page.totalElements" [offset]="page.number" [limit]="page.size" [headerHeight]="50" [footerHeight]="50" (page)='setPage($event)'>
    </ngx-datatable>
  </div>
  <div class="col-md-9" *ngIf="rows.length == 0  && columns.length > 0">
    <div class="alert alert-secondary" role="alert">
      There are no QTree's to process.
    </div>
  </div>
</div>



<app-data-table-col-templates></app-data-table-col-templates>

<ng-template #actionTmpl let-column="column" let-row="row">
  <button class="btn btn-sm btn-primary" (click)="showScheduleModal(row, 'Confirm')">
    <i class="fa fa-check"></i> Respond
  </button>
</ng-template>

<app-owner-response class="modal fade" *ngIf="isScheduleModal" [config]="{ show: true, backdrop:'static' }" bsModal #ownerResponseModal="bs-modal"
  (cancel)="hideScheduleModal()" (saved)="hideScheduleModal()" [activityInfo]="activityInfo" [scheduleAction]="scheduleAction"></app-owner-response>

  <prop-preferences-modal class="modal fade" *ngIf="isPropPreferenceModal" [config]="{ show: true, backdrop:'static' }" bsModal #propPreferenceModal="bs-modal"
  (done)="hidePropertyModal()" [pageName]="pageName"></prop-preferences-modal>

