*.log
*.class
.metadata
**/.recommenders
**/.settings
**/ads-backend/target
**/ads-backend/bin
**/ads-backend/.apt_generated
**/ads-backend/.idea
**/ads-backend/.settings
**/ads-backend/.classpath
Servers/
RemoteSystemsTempFiles/
ads-backend/.factorypath
package-lock.json
**/target/classes/**
MANIFEST.MF

# ---- SonarQube
.sonar
.scannerwork

talend/.Java/target
.gitignore
.project
