<div class="row d-flex justify-content-center">

  <div class="col-md-8 mb-2">

    <div class="row">
      <div class="col-md-11">
        <h2 class="h3">Controller Targets Available</h2>
      </div>
      <div class="col-md-1">
        <div class="pull-right">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#createNewControllerTarget" aria-expanded="false"
            aria-controls="createNewControllerTarget">
            Create New Target
          </button>
        </div>
      </div>
    </div>

    <div class="collapse" id="createNewControllerTarget">
      <div class="card card-body">
        <app-controller-targets-create></app-controller-targets-create>
      </div>
    </div>
    
  </div>
</div>