<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="font-family: 'trebuchet ms', sans-serif">
<h3>Controllers Email Service</h3>
<table style="border-collapse:collapse; width: 100%">
    <thead style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
    <tr>
        <th>Controller Name</th>
        <th>Create Time</th>
        <th>Volume Tally</th>
        <th>Date Available</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="controller : ${controllers}"
        style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
        <td th:text="${controller.controllerName}">Controller Name</td>
        <td th:text="${controller.createTime}">Create Time</td>
         <td th:text="${controller.volumeTally}">Volume Tally</td>
        <td th:text="${controller.dateAvailable}">03-Jan-2018</td>
    </tr>
    <tr style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">
        <td>Source</td>
        <td>28-Jun-2013</td>
        <td>0</td>
        <td>0</td>
    </tr>
    </tbody>
</table>
<p ></p>
</body>
</html>