<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{scheduleAction}} QTree Ownership</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                <span>{{errorMessage}}</span>
            </div>

            <div class="row">
                <div class="col-sm-3 h4">
                    <strong>QTree:</strong>
                </div>
                <div class="col-sm-6 h4">{{activityInfo.qtree.qtreeName}}</div>
            </div>

            <div class="row">
                <div class="col-sm-3 h4">
                    <strong>NAS Volume:</strong>
                </div>
                <div class="col-sm-6 h4"> {{activityInfo.nasVolume.volumeName}}</div>
            </div>

            <label>
                <span>Debug</span> 
                <input class="checkbox" type="checkbox" #debug="ngModel" ngModel>

            </label>
            <div *ngIf="debug.value">
                <pre>isMultiOwner: {{isMultiOwner}}</pre>
                <pre>{{ formGroup.value | json }} </pre>
                <pre>{{activityResponse | json}}</pre>
                <pre>activityResponseInfoSource: {{ activityResponseInfoSource | json }} </pre>
            </div>

            <form [formGroup]="formGroup" autocomplete="off">

                <div class="form-group row">
                    <label for="confirm-owner" class="col-sm-6 form-control-label">Are you the Owner of this Volume? </label>
                    <div class="col-sm-6">
                        <div>
                            <label>
                                <input class="radio" id="isOwnerTrue" formControlName="confirmOwner" type="radio" [value]="true">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" id="isOwnerFalse" formControlName="confirmOwner" type="radio" [value]="false">
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div *ngIf="formGroup.value.confirmOwner && !isMultiOwner">
                    <div class="form-group row">
                        <label for="decommission-volume" class="col-sm-6 form-control-label">Do you plan to decommission this Volume?</label>
                        <div class="col-sm-6">
                            <div>
                                <label>
                                    <input class="radio" id="decommissionTrue" formControlName="decommissionVolume" type="radio" [value]="true" (change)="onDecommissionVolumeValueChanged(true)">
                                    <span>Yes</span>
                                </label>
                                <label>
                                    <input class="radio" id="decommissionFalse" formControlName="decommissionVolume" type="radio" [value]="false" (change)="onDecommissionVolumeValueChanged(false)">
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="formGroup.value.confirmOwner && formGroup.value.decommissionVolume == true && !isMultiOwner">

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="confirm-owner" class="form-control-label">What date will the Qtree be decommissioned by?:</label>
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="decommissionByDate" formControlName="decommissionByDate" [minDate]="minDate"
                                [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue">


                        </div>
                    </div>
                </div>


                <div *ngIf="formGroup.value.confirmOwner == false">
                    <div class="row" *ngIf="potentialOwners.length > 0">
                        <div class="col-sm-12 ">
                            <table class="table table-bordered table-hover table-sm ">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let potentialOwner of potentialOwners">
                                        <td>{{potentialOwner.firstName}}</td>
                                        <td>{{potentialOwner.lastName}}</td>
                                        <td>{{potentialOwner.ownerUserCorporateId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="confirm-owner" class="col-sm-6 form-control-label">If you know the owner who is not in the list please enter it here:</label>
                        <div class="col-sm-6 ">
                            <div class="input-group input-group-unstyled">
                                <!-- <input type="text" id="suggestedOwnerUserCorporateId" class="form-control" formControlName="suggestedOwnerUserCorporateId"
                        [attr.disabled]="formGroup.value.dontKnowOwner?'disabled':null"> -->


                                <input id="suggestedOwnerUserCorporateId" class="form-control" formControlName="suggestedOwnerUserCorporateId" [(ngModel)]="asyncSelected"
                                    placeholder="Owner Lookup" [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                    (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                    [typeaheadOptionsLimit]="7" typeaheadOptionField="fullName" [attr.disabled]="formGroup.value.dontKnowOwner?'disabled':null">

                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>
                                <input class="checkbox" id="dontKnowOwner" type="checkbox" formControlName="dontKnowOwner">
                                <span>I do not know who the Owner is for this Volume</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="migration-team-contact" class="col-sm-6 form-control-label">Would you like the support team to contact you?</label>
                    <div class="col-sm-6">
                        <div>
                            <label>
                                <input class="radio" id="migrationTeamContactMeTrue" formControlName="migrationTeamContactMe" type="radio" [value]="true">
                                <span>Yes</span>
                            </label>
                            <label>
                                <input class="radio" id="migrationTeamContactMeFalse" formControlName="migrationTeamContactMe" type="radio" [value]="false">
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer">
            <!-- <button class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button> -->
            <button class="btn btn-default" (click)="close()">Cancel</button>
            <button class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</div>


<!-- Schedule is in a future module... keep for future use -->
<!-- <div *ngIf="formGroup.value.isOwnerFormGroup.confirmOwner && formGroup.value.ownerFormGroup.decommissionVolume == false">

                    <div class="form-group row" formGroupName="ownerFormGroup">
                        <div class="col-sm-6">
                            <label for="confirm-owner" class="form-control-label">Select a date for the migration:</label>

                        </div>

                        <div class="col-sm-6">
                            <select class="form-control" formControlName="migrationDate">
                                <option>Get from service</option>
                                <option>Get from service</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row" formGroupName="ownerFormGroup">
                        <div class="col-sm-6">
                            <label for="dayOfWeek" class="form-control-label">Day of the week:</label>
                        </div>

                        <div class="col-sm-6">
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=1>
                                <span>Mon</span>
                            </label>
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=2>
                                <span>Tue</span>
                            </label>
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=3>
                                <span>Wed</span>
                            </label>
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=4>
                                <span>Thu</span>
                            </label>
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=5>
                                <span>Fri</span>
                            </label>
                            <label class="mr-2">
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=6>
                                <span>Sat</span>
                            </label>
                            <label>
                                <input class="radio" formControlName="dayOfWeek" type="radio" [value]=0>
                                <span>Sun</span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row" formGroupName="ownerFormGroup">
                        <label for="confirm-owner" class="col-sm-6 form-control-label">Select a start time window (All times in EST):</label>
                        <div class="col col-md-auto">
                            <div>
                                <select class="form-control" formControlName="migrationStartTime">
                                    <option>06:00 EST</option>
                                    <option>09:00 EST</option>
                                    <option>12:00 EST</option>
                                    <option>15:00 EST</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->