<div class="row">
  <div class="col-md-12 ">
    <div class=" items-list-page">
      <div class="title-search-block">
        <div class="title-block">
          <span class="h3">Application Configuration</span>
          <p class="title-description">Settings for Listing Pages</p>
        </div>
      </div>
    </div>
  </div>
</div>


<template #itemTemplate let-item="item" let-index="index">
  <span><i class="fa fa-bars" aria-hidden="true"></i> {{index}}.  <strong>{{item.value}}</strong>  
  <span class="pull-right">Max Display Length: {{item.initData.truncateAtChars}}</span> </span>
  <!-- {{item | json }} -->
</template>


<div class="col-xs-6 col-md-3">
  <h4>Displayed</h4>
  <bs-sortable [(ngModel)]="itemObjectsLeft" [itemTemplate]="itemTemplate" fieldName="name" itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="sortable-item" wrapperClass="sortable-wrapper"></bs-sortable>
  <pre>{{ itemObjectsLeft | json }}</pre>
</div>
<div class="col-xs-6 col-md-3">
  <h4>Hidden</h4>
  <bs-sortable [(ngModel)]="itemObjectsRight" [itemTemplate]="itemTemplate" fieldName="name" itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="sortable-item" wrapperClass="sortable-wrapper"></bs-sortable>
  <pre>{{ itemObjectsRight | json }}</pre>
</div>
