<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group row">
          <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':userFirstName.errors?.required && userFirstName.touched || userFirstName.errors?.minlength && userFirstName.touched}"
              [(ngModel)]="user.firstName" name="firstName" #userFirstName="ngModel" minlength="2" required placeholder="First Name">
            <div *ngIf="userFirstName.errors?.required && userFirstName.touched" class="invalid-feedback">
              First Name is required
            </div>
            <div *ngIf="userFirstName.errors?.minlength && userFirstName.touched" class="invalid-feedback">
              Must be at least 2 characters
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':userLastName.errors?.required && userLastName.touched || userLastName.errors?.minlength && userLastName.touched}"
              [(ngModel)]="user.lastName" name="lastName" #userLastName="ngModel" minlength="2" required placeholder="Last Name">
            <div *ngIf="userLastName.errors?.required && userLastName.touched" class="invalid-feedback">
              Last Name is required
            </div>
            <div *ngIf="userLastName.errors?.minlength && userLastName.touched" class="invalid-feedback">
              Must be at least 2 characters
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" [ngClass]="{'is-invalid':userPassword.errors?.required && userPassword.touched || userPassword.errors?.minlength && userPassword.touched}"
              [(ngModel)]="user.password" name="password" #userPassword="ngModel" minlength="3" required placeholder="Password">

          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Confirm Password">
          </div>

        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [ngClass]="{'is-invalid':userEmail.errors?.required && userEmail.touched || userEmail.errors?.pattern && userEmail.touched}"
              [(ngModel)]="user.email" name="email" #userEmail="ngModel" minlength="8" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              placeholder="Email">
            <div *ngIf="userEmail.errors?.required && userEmail.touched" class="invalid-feedback">
              Email is required
            </div>
            <div *ngIf="userEmail.errors?.pattern && userEmail.touched" class="invalid-feedback">
              Email is invalid
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="role" class="col-sm-3 col-form-label">Role</label>
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="user.userRoleId" name="userRoleId">
              <option *ngFor="let r of roleArray; index as i" value="{{i+1}}">{{r}}</option>

            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Active</label>
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="user.enabled" name="user.enabled">
                <option value=1>Yes</option>
                <option value=0>No</option> 
              </select>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="okay()">Add User</button>
      </div>
    </div>
  </div>
</form>