<div class="row justify-content-center d-flex ">
  <div class="col-md-9">
    <div class="h3 mb-3">QTree Ownership</div>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Nothing to Process!</h4>
        <p>There can be a few reasons why you ended up here...</p>
        <hr>
        <div>
          <ul>
            <li>The set of QTree's have already been processed</li>
            <li>The link you clicked on is old</li>
            <li>The ADS account you are using does not have permission to view these QTree's</li>
          </ul>
        </div>
      </div>
  </div>
</div>