<div class="row d-flex justify-content-center">

  <div class="col-md-8 mb-2">
    <h2 class="h3">Admin - Manual Actions</h2>

    <div class="row">
      <div class="col-md-4 col-form-label">
        <strong>Load All - ADS Setup </strong>
      </div>
      <div class="col col-md-auto">
        <button class="btn btn-sm btn-success">Run</button>
      </div>
      <div class="col col-md-auto col-form-label">
        <div class="text-success">Completed successfully!</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-form-label">
        <strong>Load User Roles</strong>
      </div>
      <div class="col col-md-auto">
        <button class="btn btn-sm btn-success">Run</button>
      </div>
      <div class="col col-md-auto col-form-label">
        <div class="text-success">Completed successfully!</div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-form-label">
        Need to add all the other Talend Jobs...
      </div>
    </div>

  </div>
</div>