<div class="row d-flex justify-content-center">

  <div class="col-md-8 mb-2">
    <h2 class="h3">Administration - ADS Setup</h2>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'1. Load User Roles'"              [jobName]="'talendJobs/userRoles'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'2. Load Native Users'"            [jobName]="'talendJobs/userNatives'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'3. Load Audit Events'"            [jobName]="'talendJobs/auditEvents'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'4. Load Audit Reason Codes'"      [jobName]="'talendJobs/auditReasonCodes'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'5. Load Applications (needed?)'"  [jobName]="'talendJobs/applications'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'6. Load System Properties'"       [jobName]="'talendJobs/sysConfigPropertyTypes'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'7. Load Migration Times'"         [jobName]="'talendJobs/migrationTimes'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'8. Load MST Email Types'"         [jobName]="'talendJobs/mstEmailTypes'"></app-manual-function>
    <app-manual-function [fileUpload]="true" [displayJobName] = "'9. Load Shedules (needed?)'"      [jobName]="'talendJobs/schedules'"></app-manual-function>
  </div>

</div>

