<div class="row d-flex justify-content-center">

  <div class="col-md-8 mb-2">
    <h2 class="h3">Discovery - Manual Actions</h2>

    <div class="row">
      <div class="col-md-4 col-form-label">
        <strong>Populate Application &amp; Create Corp Users </strong>
      </div>
      <div class="col col-md-auto">
        <button class="btn btn-sm btn-success">Run</button>
      </div>
      <div class="col col-md-auto col-form-label">
        <div class="text-success">Completed successfully!</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-form-label">
        <strong>Populate Activities</strong>
      </div>
      <div class="col col-md-auto">
        <button class="btn btn-sm btn-success">Run</button>
      </div>
      <div class="col col-md-auto col-form-label">
        <div class="text-success">Completed successfully!</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-form-label">
        <strong>Send Emails to Owners </strong>
      </div>
      <div class="col col-md-auto">
        <button class="btn btn-sm btn-success">Run</button>
      </div>
      <div class="col col-md-auto col-form-label">
        <div class="text-success">Completed successfully!</div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-form-label">
          <strong>Send Email Reminder to Owners </strong>
        </div>
        <div class="col col-md-auto">
          <button class="btn btn-sm btn-success">Run</button>
        </div>
        <div class="col col-md-auto col-form-label">
          <div class="text-success">Completed successfully!</div>
        </div>
      </div>
    
    <div class="row">
        <div class="col-md-4 col-form-label">
          <strong>Start - Close Schedule</strong>
        </div>
        <div class="col col-md-auto">
          <button class="btn btn-sm btn-success">Run</button>
        </div>
        <div class="col col-md-auto col-form-label">
          <div class="text-danger">Do we need this?</div>
        </div>
      </div>
  </div>
</div>