<div class="col">
    <div class="card sameheight-item">
        <div class="card-block">
            <div class="card-title-block">
                <h1 class="title"> MMS Application Settings Functions</h1>
            </div>

            <h2 class="h5">Setting Section Title</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group row">
                                <label for="textSetting" class="col-sm-2 col-form-label">Text Setting:</label>
                                <div class="col col-sm-auto">
                                    <input type="text" class="form-control" id="textSetting" placeholder="Text here...">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleSelect2" class="col-sm-2 col-form-label">Dropdown Setting:</label>
                                <div class="col col-sm-auto">
                                    <select class="form-control" id="exampleSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-block -->
    </div>
    <!-- /.card -->
</div>
