<div class="row justify-content-center">
  <div class="col-xl-9 col-md-10 col-sm-12 text-center">
    <h1>Host Connection Reports</h1>
  </div>
  <div class="col-xl-9 col-md-10 col-sm-12">
    <div class="card-deck">

      <div class="card card-with-link" routerLink="/discover/owner">
        <div class="card-body">
          <h5 class="card-title">Call Me</h5>
          <p class="card-text">
            Don't use SQL, use Models and Repos, but here's the equalivant:
            <br> UNCONFIRMED: SELECT * from dwh_inventory.wcr_host_conn_view;
            <br>

          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
