<div class="row">
    <div class="col-md-12 ">

        <div class=" items-list-page">
            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6 ">
                            <span class="h3">Batch Release</span>
                            <p class="title-description">Learn more about this...</p>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="card">
                <div class="card-block">
                		<h3>The Work Package data is loaded by the Administrator through an import process. Please contact Lewis Newby for instructions and action.</h3>
                </div>
            </div>

        </div>
    </div>
</div>