*.log
*.class
.metadata/
.recommenders/
target/
.apt_generated/
.idea/
.settings/
.classpath
.springBeans
.project
Servers
RemoteSystemsTempFiles
.factorypath

**/*.log
**/*.class
**/.metadata/
**/.recommenders/
**/target/
**/.apt_generated/
**/.idea/
**/.settings/
**/.classpath
**/.springBeans
**/.project
**/Servers/
**/RemoteSystemsTempFiles/
**/.factorypath
**/test-output/
**/bin/

# ---- SonarQube
.sonar
.scannerwork

talend/.Java/target
