<div class="row d-flex justify-content-center">
  <div class="col-sm-12">
    <h2 class="text-center mb-5">Discover Dashboard</h2>
  </div>
</div>
<div class="row d-flex justify-content-center mb-4">
  <div class="col-sm-6 col-md-3">
    <div class="card text-center card-with-link" routerLink="/discover/controller-workpackage">
      <div class="card-body">
        <h5 class="card-title">Controller Workpackage</h5>
        <p class="card-text">
          <i class="fa fa-5x fa-archive"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card text-center card-with-link" routerLink="/discover/controller-release">
      <div class="card-body">
        <h5 class="card-title">Controller Release</h5>
        <p class="card-text">
          <i class="fa fa-5x fa-list-ol"></i>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-sm-6 col-md-3">
    <div class="card text-center card-with-link" routerLink="/discover/manual-functions">
      <div class="card-body">
        <h5 class="card-title">Manual Functions</h5>
        <p class="card-text">
          <i class="fa fa-5x fa-wrench"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card text-center card-with-link" routerLink="/discover/manual-functions">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <p class="card-text">
          <i class="fa fa-5x fa-file-text"></i>
        </p>
      </div>
    </div>
  </div>
</div>