<div class="row d-flex justify-content-center">

  <div class="col-md-8 mb-2">

    <div class="row">
      <div class="col-md-11">
        <h2 class="h3">Controller Targets Available</h2>
      </div>
      <div class="col-md-1">
        <div class="pull-right">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#createNewControllerTarget" aria-expanded="false"
            aria-controls="createNewControllerTarget">
            Create New Target
          </button>
        </div>
      </div>
    </div>

    <div class="collapse" id="createNewControllerTarget">
      <div class="card card-body">
        <h2 class="h4">Create New Controller Target</h2>
        
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            <span>{{errorMessage}}</span>
          </div>
          
        <form novalidate #f="ngForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="targetGroupName">Target Group Name</label>

              <input type="text" class="form-control" [ngClass]="{'is-invalid':targetGroupName.errors?.required && targetGroupName.touched || targetGroupName.errors?.minlength && targetGroupName.touched}"
                [(ngModel)]="newTarget.targetGroupName" name="targetGroupName" #userUserName="ngModel" minlength="2" required placeholder="Target Group Name">
              <div *ngIf="targetGroupName.errors?.required && targetGroupName.touched" class="invalid-feedback">
                User Name is required
              </div>
              <div *ngIf="targetGroupName.errors?.minlength && targetGroupName.touched" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="controllerName">Controller Name</label>

              <input type="text" class="form-control" [ngClass]="{'is-invalid':controllerName.errors?.required && controllerName.touched || controllerName.errors?.minlength && controllerName.touched}"
                [(ngModel)]="newTarget.controllerName" name="controllerName" #userUserName="ngModel" minlength="2" required placeholder="Controller Name">
              <div *ngIf="controllerName.errors?.required && controllerName.touched" class="invalid-feedback">
                User Name is required
              </div>
              <div *ngIf="controllerName.errors?.minlength && controllerName.touched" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="assetNumber">Asset Tag</label>

              <input type="text" class="form-control" [ngClass]="{'is-invalid':assetNumber.errors?.required && assetNumber.touched || assetNumber.errors?.minlength && assetNumber.touched}"
                [(ngModel)]="newTarget.assetNumber" name="assetNumber" #userUserName="ngModel" minlength="2" required placeholder="Asset Tag">
              <div *ngIf="assetNumber.errors?.required && assetNumber.touched" class="invalid-feedback">
                User Name is required
              </div>
              <div *ngIf="assetNumber.errors?.minlength && assetNumber.touched" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>
          </div>
          <!-- End Form Row -->

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="targetName">Install Date</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid':targetName.errors?.required && targetName.touched || targetName.errors?.minlength && targetName.touched}"
                [(ngModel)]="newTarget.targetName" name="targetName" #userUserName="ngModel" minlength="2" required placeholder="Controller Target Name">
              <div *ngIf="targetName.errors?.required && targetName.touched" class="invalid-feedback">
                User Name is required
              </div>
              <div *ngIf="targetName.errors?.minlength && targetName.touched" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>


            <div class="form-group col-md-4">
              <label for="priority">Priority</label>
              <select class="form-control" [(ngModel)]="newTarget.priority" name="priority">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="targetCluster">Target Cluster</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid':targetCluster.errors?.required && targetCluster.touched || targetCluster.errors?.minlength && targetCluster.touched}"
                [(ngModel)]="newTarget.targetCluster" name="targetCluster" #userUserName="ngModel" minlength="2" required placeholder="Target Cluster">
              <div *ngIf="targetCluster.errors?.required && targetCluster.touched" class="invalid-feedback">
                User Name is required
              </div>
              <div *ngIf="targetCluster.errors?.minlength && targetCluster.touched" class="invalid-feedback">
                Must be at least 2 characters
              </div>
            </div>

          </div>
          <!-- End Form Row -->

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>