<h2 class="h4">Create New Controller Target</h2>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  <span>{{errorMessage}}</span>
</div>

<form novalidate #f="ngForm">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="targetGroupName">Target Group Name</label>

      <input type="text" class="form-control" [ngClass]="{'is-invalid':targetGroupName.errors?.required && targetGroupName.touched || targetGroupName.errors?.minlength && targetGroupName.touched}"
        [(ngModel)]="newTarget.targetGroupName" name="targetGroupName" #targetGroupName="ngModel" minlength="2" required placeholder="Target Group Name">
      <div *ngIf="targetGroupName.errors?.required && targetGroupName.touched" class="invalid-feedback">
        User Name is required
      </div>
      <div *ngIf="targetGroupName.errors?.minlength && targetGroupName.touched" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="controllerName">Controller Name</label>

      <input type="text" class="form-control" [ngClass]="{'is-invalid':controllerName.errors?.required && controllerName.touched || controllerName.errors?.minlength && controllerName.touched}"
        [(ngModel)]="newTarget.controllerName" name="controllerName" #controllerName="ngModel" minlength="2" required placeholder="Controller Name">
      <div *ngIf="controllerName.errors?.required && controllerName.touched" class="invalid-feedback">
        User Name is required
      </div>
      <div *ngIf="controllerName.errors?.minlength && controllerName.touched" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="assetNumber">Asset Tag</label>

      <input type="text" class="form-control" [ngClass]="{'is-invalid':assetNumber.errors?.required && assetNumber.touched || assetNumber.errors?.minlength && assetNumber.touched}"
        [(ngModel)]="newTarget.assetNumber" name="assetNumber" #assetNumber="ngModel" minlength="2" required placeholder="Asset Tag">
      <div *ngIf="assetNumber.errors?.required && assetNumber.touched" class="invalid-feedback">
        User Name is required
      </div>
      <div *ngIf="assetNumber.errors?.minlength && assetNumber.touched" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>
  </div>
  <!-- End Form Row -->

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="installDate">Install Date</label>


      <input type="text" class="form-control" [ngClass]="{'is-invalid':installDate.errors?.required && installDate.touched}" [(ngModel)]="newTarget.installDate"
        name="installDate" #installDate="ngModel" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue">


      <div *ngIf="installDate.errors?.required && installDate.touched" class="invalid-feedback">
        Install Date is required
      </div>

    </div>


    <div class="form-group col-md-4">
      <label for="priority">Priority</label>
      <select class="form-control" [(ngModel)]="newTarget.priority" name="priority">
        <option value=3>High</option>
        <option value=2>Medium</option>
        <option value=1>Low</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="targetCluster">Target Cluster</label>
      <input type="text" class="form-control" [ngClass]="{'is-invalid':targetCluster.errors?.required && targetCluster.touched || targetCluster.errors?.minlength && targetCluster.touched}"
        [(ngModel)]="newTarget.targetCluster" name="targetCluster" #targetCluster="ngModel" minlength="2" required placeholder="Target Cluster">
      <div *ngIf="targetCluster.errors?.required && targetCluster.touched" class="invalid-feedback">
        User Name is required
      </div>
      <div *ngIf="targetCluster.errors?.minlength && targetCluster.touched" class="invalid-feedback">
        Must be at least 2 characters
      </div>
    </div>

  </div>
  <!-- End Form Row -->

  <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
</form>
