table.wfa-table  {
	font-size: .9em;
}

table.wfa-table > thead > tr  {
	th.status {
		font-size: .85em;
		text-align: center;
		min-width: 60px;
		max-width: 60px;
	}

	th.status > select {
		max-width: 50px;
	}
}


table.wfa-table > tbody > tr   {
	
	td.status {
		text-align: center;
		color: black;
	}
}

.popover-content {
	color: black;
}

