<div class="row">
    <div class="col-md-12 ">

        <div class=" items-list-page">
            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6 ">
                            <span class="h3">Migration Execution Cutover Support</span>

                            <p class="title-description"> Text... </p>
                            <form class="form-inline  font-weight-normal">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Migration Week: </label>
                                <select class="form-control form-control-sm" id="inlineFormCustomSelect">
                                    <option selected>Choose...</option>
                                    <option value="">2017-07-10</option>
                                    <option value="">2017-07-17</option>
                                    <option value="">2017-07-24</option>
                                </select>

                                <label class="mr-sm-2 ml-3" for="inlineFormCustomSelect">Project: </label>
                                <select class="form-control form-control-sm" id="inlineFormCustomSelect">
                                    <option selected>Choose...</option>
                                    <option value="1">MMS-QA_11997</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                                <label class="mr-sm-2 ml-3" for="inlineFormCustomSelect">Migration Specialist: </label>
                                <select class="form-control form-control-sm" id="inlineFormCustomSelect">
                                    <option selected>Choose...</option>
                                    <option value="1">Joe</option>
                                    <option value="2">Marry</option>
                                    <option value="3">Ted</option>
                                </select>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="items-search">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control boxed rounded-s" placeholder="Search for..."> <span class="input-group-btn">
                    <button class="btn btn-secondary rounded-s" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span> </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <div class="card-title-block">
                        <div class="action dropdown ">
                            <button class="btn  btn-sm rounded-s btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions...
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o icon"></i>Launch Workflow</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-modal"><i class="fa fa-close icon"></i>Stop Workflow</a>
                            </div>
                        </div>

                        <table class="table table-striped table-bordered table-hover table-sm wfa-table">
                            <thead>

                                <tr>
                                    <th></th>
                                    <th>Migration Project</th>
                                    <th>Line of Business</th>
                                    <th>Scheduled On</th>
                                    <th>Source Volumes</th>
                                    <th>Target Volumes</th>
                                    <th>Migration Specialist</th>

                                </tr>
                                <tr>
                                    <th></th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm col-md-auto" id="formGroupExampleInput" placeholder="Filter">
                                    </th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Filter">
                                    </th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm col-md-1" id="formGroupExampleInput" placeholder="Filter">
                                    </th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Filter">
                                    </th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Filter">
                                    </th>
                                    <th style="vertical-align: middle;">
                                        <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Filter">
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td nowrap="nowrap ">
                                        <label class="item-check " id="select-all-items ">
                                            <input type="checkbox " class="checkbox ">
                                            <span></span>
                                        </label>
                                        <em class="fa fa-lg fa-info-circle "></em>
                                    </td>

                                    <td>mms demo</td>
                                    <td>Global Technology</td>
                                    <td>Tues, December 1, 2017</td>
                                    <td>123</td>
                                    <td>343</td>
                                    <td>Ricky Smith</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<nav class="text-xs-right ">
    <ul class="pagination ">
        <li class="page-item "> <a class="page-link " href=" "> Prev </a> </li>
        <li class="page-item active "> <a class="page-link " href=" "> 1 </a> </li>
        <li class="page-item "> <a class="page-link " href=" "> 2 </a> </li>
        <li class="page-item "> <a class="page-link " href=" "> 3 </a> </li>
        <li class="page-item "> <a class="page-link " href=" "> 4 </a> </li>
        <li class="page-item "> <a class="page-link " href=" "> 5 </a> </li>
        <li class="page-item "> <a class="page-link " href=" "> Next </a> </li>
    </ul>
</nav>



<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12 ">

                <ul class="nav nav-tabs">

                    <li class="nav-item">
                        <a href="" class="nav-link active" data-target="#itsm-detail" aria-controls="itsm-detail" data-toggle="tab" role="tab" aria-expanded="false">Change</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-target="#itpam" aria-controls="itpam" data-toggle="tab" role="tab" aria-expanded="false">ITPAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-target="#cutover" aria-controls="cutover" data-toggle="tab" role="tab" aria-expanded="false">Cutover</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-target="#premeeting-details" aria-controls="premeeting-details" data-toggle="tab" role="tab" aria-expanded="false">Pre-Meeting Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-target="#cutover-details" aria-controls="cutover-details" data-toggle="tab" role="tab" aria-expanded="false">Cutover Details</a>
                    </li>
                </ul>



                <br>



                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane fade active in" id="itsm-detail" aria-expanded="true">
                        <form>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-1 col-form-label">ITSM #:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="itsm-number" placeholder="ITSM #">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleSelect2">The following is to be copied into the associated ITSM record for the Migration Project:</label>
                                        <select multiple class="form-control" id="exampleSelect2">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleSelect2">CIs:</label>
                                        <select multiple class="form-control" id="exampleSelect2">
                                            <option>vsin20p4055</option>
                                            <option>nnjxcartest01</option>
                                            <option>nnjxcartest02</option>
                                            <option>seaimgmt39</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="itpam" aria-expanded="false">
                        <div class="alert alert-warning" role="alert">
                            <strong>Note:</strong> Download and attached these files to the assocated ITSM for the Cutover Event!
                        </div>
                        <table class="table table-sm table-responsive ">
                            <thead>
                                <tr>
                                    <th>Purpose</th>
                                    <th>File Name</th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Host List</td>
                                    <td>host-list-1234-123.txt</td>
                                    <th>
                                        <button class="btn btn-primary btn-sm">Download</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Cutover Unmount Labels</td>
                                    <td>host-list-1234-123.txt</td>
                                    <th>
                                        <button class="btn btn-primary btn-sm">Download</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Cutover Mount Labels</td>
                                    <td>host-list-1234-123.txt</td>
                                    <th>
                                        <button class="btn btn-primary btn-sm">Download</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Rollback Unmount Labels</td>
                                    <td>host-list-1234-123.txt</td>
                                    <th>
                                        <button class="btn btn-primary btn-sm">Download</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Rollback Mount Labels</td>
                                    <td>host-list-1234-123.txt</td>
                                    <th>
                                        <button class="btn btn-primary btn-sm">Download</button>
                                    </th>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="cutover" aria-expanded="false">
                        <table class="table table-sm table-responsive ">
                            <thead>
                                <tr>
                                    <th>Source Data Center</th>
                                    <th>(Source?) Controller</th>
                                    <th>(Source?) Volume </th>
                                    <th>Target Data Center</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MMS1</td>
                                    <td>fas3270cl1-rtp</td>
                                    <td>mms_cifs1_noqtree</td>
                                    <td>MMS1</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="premeeting-details" aria-expanded="false">
                        <div class="col-sm-6">
                            <form>
                                <div class="form-group row">
                                    <label for="meetingDate" class="col-sm-2 col-form-label">Date:</label>
                                    <div class="col col-sm-auto">
                                        <input type="text" class="form-control" id="meetingDate" placeholder="Date">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="exampleSelect2" class="col-sm-2 col-form-label">Time:</label>
                                    <div class="col col-sm-auto">
                                        <select class="form-control" id="exampleSelect2">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleSelect2" class="col-sm-2 col-form-label">Attendees:</label>
                                    <div class="col col-sm-auto">
                                        <select multiple class="form-control" id="exampleSelect2">
                                            <option>Jason.Smith@netapp.com</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-6">
                            <form>
                                <div class="form-group row">
                                    <label for="meetingDate" class="col-sm-2 col-form-label">Bridge Line:</label>
                                    <div class="col col-sm-auto">
                                        <input type="text" class="form-control" id="meetingDate" placeholder="Date">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="exampleSelect2" class="col-sm-2 col-form-label">Meeting Link:</label>
                                    <div class="col col-sm-auto">
                                        <input type="text" class="form-control" id="meetingDate" placeholder="Adobe Meeting Link">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleSelect2" class="col-sm-2 col-form-label">ITSM Link:</label>
                                    <div class="col col-sm-auto">
                                        <input type="text" class="form-control" id="meetingDate" placeholder="ITSM">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleSelect2" class="col-sm-2 col-form-label">Notes:</label>
                                    <div class="col col-sm-auto">
                                        <textarea class="form-control"> </textarea>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="cutover-details" aria-expanded="false">
                        <h4>Cutover Details</h4>
                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
</div>
