<div class="row">
    <div class="col-md-12 ">

        <div class=" items-list-page">
            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6 ">
                            <span class="h3">User Administration</span>

                            <p class="title-description">Enabled Now</p>

                        </div>
                    </div>
                </div>
                <div class="items-search">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control boxed rounded-s" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary rounded-s" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">


    <div class="col-md-12">
        <button class="btn btn-primary pull-right" (click)="showAddUser()" style="float: left">Add User</button>

    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <p-dataTable [value]="users" [rows]="5" [paginator]="true" [editable]="true" [responsive]="true" #dt>
            <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header" [hidden]="col.hidden" [filter]="true" filterPlaceholder="Search"
                filterMatchMode="{{col.filterMatchMode}}">
                <ng-template pTemplate="filter" let-col *ngIf="col.template && col.field==='userRoleId'">
                    <p-dropdown [options]="roles" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                        styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="body" let-rowData="rowData" *ngIf="col.template && col.field==='userRoleId'">
                    {{roleArray[rowData.userRoleId]}}
                </ng-template>

                <ng-template pTemplate="filter" let-col *ngIf="col.template && col.field==='enabled'">
                    <p-dropdown [options]="enabledValues" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                        styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="body" let-rowData="rowData" *ngIf="col.template && col.field==='enabled'">
                    {{rowData.enabled? 'Yes' : 'No'}}
                </ng-template>
            </p-column>
            <p-column header="Actions" icon="fa-check">
                <ng-template pTemplate="body" let-rowData="rowData">
                    <div class="text-center">
                        <i (click)="edit(rowData)" class="fa fa-pencil-square-o text-primary"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i (click)="delete(rowData)" class="fa fa-trash-o text-danger"></i>
                    </div>
                </ng-template>

            </p-column>
        </p-dataTable>

        <!-- <p-dataTable [value]="users" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [editable]="true" [responsive]="true">
            <p-column field="lastName" header="Last Name" [filter]="true" filterPlaceholder="Search" [editable]="true" filterMatchMode="contains"></p-column>
            <p-column field="firstName" header="First Name" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
            <p-column field="email" header="Email Address" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
            <p-column field="userRoleId" header="Role" [filter]="true" filterPlaceholder="Search" [editable]="true" filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="roles" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                        styleClass="ui-column-filter"></p-dropdown>
                    {{roleArray[rowData.userRoleId]}}
                </ng-template>
                <ng-template pTemplate="body" let-rowData="rowData">
                    {{roleArray[rowData.userRoleId]}}
                </ng-template>
            </p-column>
            <p-column header="Active" [filter]="true" field="enabled" filterPlaceholder="Search" [editable]="true"  filterMatchMode="equals">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="enabledValues" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                        styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="body" let-rowData="rowData">
                    {{rowData.enabled? 'Yes' : 'No'}}
                </ng-template>
            </p-column>
            <p-column header="Actions" icon="fa-check">
                <ng-template pTemplate="body" let-rowData="rowData">
                    <div class="text-center">
                        <i (click)="edit(rowData)" class="fa fa-pencil-square-o text-primary"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <i (click)="delete(rowData)" class="fa fa-trash-o text-danger"></i>
                    </div>
                </ng-template>

            </p-column>
        </p-dataTable>

        <div class="card">
            <div class="card-block">
                <div class="card-title-block">

                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead>

                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Active</th>
                                <th>Actions</th>


                            </tr>
                            <tr>
                                <th style="vertical-align: middle;">
                                    <input type="text" class="form-control form-control-sm col-md-auto" id="formGroupExampleInput" placeholder="Filter">
                                </th>
                                <th style="vertical-align: middle;">
                                    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput1" placeholder="Filter">
                                </th>
                                <th style="vertical-align: middle;">
                                    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Filter">
                                </th>
                                <th style="vertical-align: middle;">
                                    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput3" placeholder="Filter">
                                </th>
                                <th style="vertical-align: middle;">
                                    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput4" placeholder="Filter">
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of pagedItems">

                                <td>{{user.lastName}} </td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{roleArray[user.userRoleId]}}</td>
                                <td>{{user.enabled ? 'Yes' : 'No'}}</td>
                                <td>
                                    <i style="padding-right:25px;" class="fa fa-pencil" data-toggle="tooltip" placement="top" tooltip="Edit User" (click)="edit(user)"></i>

                                    <i class="fa fa-trash" data-toggle="tooltip" placement="top" tooltip="Delete User" (click)="delete(user)"></i>
                                </td>


                            </tr>
                        </tbody>
                    </table>

                    <nav class="text-xs-right">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                                <a (click)="setPage(1)" class="page-link">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                                <a (click)="setPage(page)" class="page-link">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </div> -->
    </div>
</div>

<app-adduser *ngIf="isAddUserModal" (onHide)="onHide('add')" [config]="{ show: true }" bsModal #addModal="bs-modal" (yes)="addUser($event)"
    (cancel)="onClose('add')" class="modal fade"></app-adduser>

<app-edituser *ngIf="isEditModal" (onHide)="onHide('edit')" [config]="{ show: true }" bsModal #editModal="bs-modal" (yes)="editUser($event)"
    (cancel)="onClose('edit')" class="modal fade" [User]="User"></app-edituser>

<app-deleteuser *ngIf="isDeleteModal" (onHide)="onHide('delete')" [config]="{ show: true }" bsModal #deleteModal="bs-modal"
    (yes)="deleteUser($event)" (cancel)="onClose('delete')" class="modal fade" [User]="User"></app-deleteuser>