<div class="row">
  <div class="col-md-9">
    <h2 class="h4">
      <strong>Create:</strong> Controller Release</h2>
  </div>
  <div class="col-md-3">
    <div class="pull-right">
      <app-save-message-timer [showSuccessMsg]="showSuccessMsg"></app-save-message-timer>
    </div>
  </div>
</div>


<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  <span>{{errorMessage}}</span>
</div>

<form (ngSubmit)="save(selectedSrcControllerControl)" #createControllerReleaseForm="ngForm" autocomplete="off">
  <div class="form-row">

    <div class="col-md-4">
      <label for="srcControllerName">Source Controller</label>

      <app-controller-typeahead (selectedController)="filterByController($event)" #selectedSrcControllerControl  
      [selectOptionsDataSource]="'findByControllerNameContaining'" [controllerName]= "'srcController'"  [controllerTypeName]= "'Source '" [valueRequired]="true"></app-controller-typeahead>

    </div>

    <div class="col-md-4">
      <label for="srcControllerName">Target Controller</label>

      <app-controller-typeahead (selectedController)="filterByController($event)" #selectedTgtControllerControl 
      [selectOptionsDataSource]="'findByControllerNameContaining'" [controllerName]= "'tgtController'" [controllerTypeName]= "'Target '"  [valueRequired]="true"></app-controller-typeahead>

    </div>

  </div>
  <!-- End Form Row -->

  <button type="submit" class="btn btn-primary" [disabled]="!createControllerReleaseForm.form.valid || newTarget.srcController == newTarget.tgtController">Create</button>
  <small id="createFormHelp" class="form-text text-muted" *ngIf="!createControllerReleaseForm.form.valid">Enter all required fields to create a new Controller Release.</small>
</form>

<!-- <pre class="card card-block card-header">Model: {{newTarget | json}}</pre> -->