<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="form-group">
          <label class="form-control-label">First Name</label>
          <input type="text" class="form-control" placeholder="firstName" name="firstName" [(ngModel)]="User.firstName">
        </div>
        <div class="form-group">
          <label class="form-control-label">Last Name</label>
          <input type="text" class="form-control" placeholder="Lastname" name="Lastname" [(ngModel)]="User.lastName">
        </div>

        <div class="form-group">
          <label class="form-control-label">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="Password" [(ngModel)]="User.password">
        </div>
        <div class="form-group">
          <label class="form-control-label">Confirm Password</label>
          <input type="password" class="form-control" placeholder="confirmPassword" name="confirmPassword" value="{{confirmPassword}}">
        </div>
        <div class="form-group">
          <label class="form-control-label">Email</label>
          <input type="text" class="form-control" placeholder="Email" name="Email" [(ngModel)]="User.email">
        </div>
        <div class="dropdown">
          <label class="form-control-label">Role</label>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Select
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Migration Specialist</a>
            <a class="dropdown-item" >Storage Owner</a>
            <a class="dropdown-item" >ADS Admin</a>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label">Active</label>
          <input type="checkbox" class="form-control" placeholder="Active" name="Active" [(ngModel)]="User.active">
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
