**/*.log
**/*.class
**/.metadata/
**/.recommenders/
**/target/
**/.apt_generated/
**/.idea/
**/.settings/
**/.classpath
**/.springBeans
**/.project
**/Servers/
**/RemoteSystemsTempFiles/
**/.factorypath

# ---- SonarQube
.sonar
.scannerwork

**/talend/.Java/target/
