<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllSuites" thread-count="1" verbose="10">
	<suite-files>
		<suite-file path="testng-login-suite.xml"></suite-file>
		<suite-file path="testng-connections-suite.xml"></suite-file> 
		<suite-file path="testng-discover-suite.xml"></suite-file>
		<suite-file path="testng-admin-suite.xml"></suite-file>
	</suite-files>
</suite> <!-- Suite -->
