<div class="row justify-content-center">
  <div class="col-xl-9 col-md-10 col-sm-12 text-center">
    <h1>Discover Reports</h1>
    <ul *ngIf="!myVar" class="nav nav-pills" routerLink="/discover/report-listing">
      <li class="nav-item">
        <a href="" class="nav-link active" data-toggle="tab" role="tab" aria-expanded="false" aria-expanded="true" data-dismiss="modal"
          (click)="back()">Back</a>
      </li>
    </ul>
    <div class="row" *ngIf="totalPages && !myVar">
      <div class="col-md-12 text-center">
        <div *ngIf="totalPages">
          <button class="btn btn-primary previousPage" [ngClass]="{disabled: pageCount <= 1}" (click)="goToPrevious()">Previous</button>
          <input class="gotoPage" type="number" [(ngModel)]="pageNum" min="1" max={{totalPages}} />
          <button class="btn btn-primary" (click)="goToPage(pageNum)">Go To Page</button>
          <button class="btn btn-primary nextPage" [ngClass]="{disabled: pageCount === totalPages}">
            <a (click)="goToNext()">Next</a>
          </button>
          <button class="btn btn-primary pull-right" (click)="downloadJasperReport()">Export to Excel</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="myVar" class="col-xl-9 col-md-10 col-sm-12">
    <div class="card-deck">
      <div class="card card-with-link" routerLink="/discover/owner">
        <div class="card-body">
          <h5 class="card-title">Activity</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div *ngIf="myVar" class="card card-with-link" routerLink="/discover/owner">
        <div class="card-body">
          <h5 class="card-title">Application Detail</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div *ngIf="myVar" class="card card-with-link" (click)="openJasperReport(1,callMeReport)">
        <div class="card-body">
          <h5 class="card-title">Call Me</h5>
          <p class="card-text">
            Don't use SQL, use Models and Repos, but here's the equalivant:
            <br> UNCONFIRMED: select * from activity_response where call_me = 1;
            <br> // Need to move call_me from activity to activity_response

          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]=myVar class="border-left-10 dwnldReport" name="viewport" content="width=device-width, initial-scale=1" id="customReport"></div>




  <div *ngIf="myVar" class="col-xl-9 col-md-10 col-sm-12 mt-3">
    <div class="card-deck">
      <div class="card card-with-link" routerLink="/discover/owner">
        <div class="card-body">
          <h5 class="card-title">Multi-Owner</h5>
          <p class="card-text">
            Don't use SQL, use Models and Repos, but here's the equalivant:
            <br> UNCONFIRMED: select * from activity JOIN activity_response ON activity_response.activity_id = activity.id WHERE
            (select sum(is_presumed + is_owner) from activity_response) > 1;
            <br>
            <br> Here's the view from MMS (old project):
            <br> SELECT DISTINCT `act`.`ctrl_name` AS `ctrl_name`, `act`.`vol_name` AS `vol_name`, REPLACE(`act`.`lob_list`,
            '|', ',') AS `lob_list`, `act`.`app_name_list` AS `app_list`, REPLACE(`act`.`owner_presumed_stdid`, '|', ',')
            AS `presumed_owner`, `act`.`owner_actual_stdid` AS `actual_owner`, `resp`.`login_sid` AS `respondent`, `resp`.`is_owner`
            AS `isOwner`, `resp`.`suggested_owner_stdid` AS `suggested_owner`, (SELECT `vitae_data`.`user`.`last_name` FROM
            `vitae_data`.`user` WHERE (`vitae_data`.`user`.`stdId` = `resp`.`login_sid`)) AS `last_name`, (SELECT `vitae_data`.`user`.`first_name`
            FROM `vitae_data`.`user` WHERE (`vitae_data`.`user`.`stdId` = `resp`.`login_sid`)) AS `first_name`, (SELECT `vitae_data`.`user`.`phone`
            FROM `vitae_data`.`user` WHERE (`vitae_data`.`user`.`stdId` = `resp`.`login_sid`)) AS `phone`, (SELECT `vitae_data`.`user`.`last_name`
            FROM `vitae_data`.`user` WHERE (`vitae_data`.`user`.`stdId` = `resp`.`login_sid`)) AS `mobile_phone` FROM ((`vitae_data`.`activity`
            `act` LEFT JOIN `vitae_data`.`activity_response` `resp` ON ((`act`.`id` = `resp`.`activity_id`))) JOIN `vitae_data`.`user`
            ON (FIND_IN_SET(`vitae_data`.`user`.`stdId`, REPLACE(`act`.`owner_presumed_stdid`, '|', ',')))) WHERE (`act`.`note`
            = 'Multi') ORDER BY `act`.`vol_name`

          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div *ngIf="myVar" class="card card-with-link" (click)="openJasperReport(1,unknownOwner)">
        <div class="card-body">
          <h5 class="card-title">Unknown Owner</h5>
          <p class="card-text">
            Don't use SQL, use Models and Repos, but here's the equalivant:
            <br> UNCONFIRMED: select * from activity_response where disposition IN ('NFS-Orphan', 'NFS-Orphan w/CIFS');
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div *ngIf="myVar" class="card card-with-link" 
      (click)="openJasperReport(1,volumeDecommission)">
        <div class="card-body">
          <h5 class="card-title">Volume Decommission</h5>
          <p class="card-text">
            Don't use SQL, use Models and Repos, but here's the equalivant:
            <br> UNCONFIRMED: select * from activity where archive_candidate = 1;
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>