


.navbar {
   
    background-color: #0067c5;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.logo:active {
    -webkit-transform: scale(.95);
    transform: scale(.95);
}

.logo {
    background-image: url(/assets/img/na_logo_hrz_1c-rev_rgb_lrg.png);
    display: inline-block;    
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 155px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}